.postWrapper{
	margin-top: 15px;
	display: flex;
	padding: 0 20px;
}

.postAvatar{
	border-radius: 100%;
	overflow: hidden;
	height: 60px;
	width: 60px;
}


.postText{
	margin-top: 10px;
	margin-left: 30px;
}