/* Header============================= */

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgb(152, 191, 245);
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	padding: 10px;
}

.logo{
	display: block;
	margin-left: 20px;
	max-height: 100%;
	border-radius: 100%;
	border: solid white 1px;
	padding: 5px;
	animation: loader 4s infinite ease-in-out;
	
}

.title{
	font-size: 25px;
	color: white;
	margin-right: 10px;
}

.loginBlock{
	font-size: 25px;
	color: white;
	margin-right: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

@keyframes loader {
	0% {transform:rotate(0deg)}
	25%{transform:rotate(135deg)}
	50%{transform:rotate(235deg)}
	100%{transform:rotate(360deg)}}