
/* NAVIGATION=========================== */


.nav{
	margin-top: 10px;
	padding: 10px;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	background-color:rgb(222, 226, 235);
	min-height: calc(100vh - 92px);
}

.item{
	margin-left: 10px;
	margin-top: 13px;
	font-size: 20px;
	font-weight: 500;
}

.item:first-child{
	margin-top: 0;
}

.item:last-child{
	margin-top: 30px;
}

.link{
	color: #000000;
}

.active{
	color: #64c206;
	font-weight: 700;
}
