.dialogsWrapper{
	padding: 10px;

}

.title{
	font-size: 20px;
   font-weight: 500;
}

.dialogs{
	margin-top: 15px;
	display: grid;
	grid-template-columns: 1fr 208px ;
	grid-template-rows: 80%, 20%;
}

.dialogsItems{
	border-left: rgba(0, 0, 0, 0.453) solid 1px;
	padding-left: 8px;
	grid-row: 1 / 3;
	grid-column: 2 / 3;
}

.dialog{
margin-top: 8px;
display: flex;
}

.dialogsAvatar{
   height: 60px;
   width: 60px;
	overflow: hidden;
	border-radius: 100%;
}

.dialogsAvatarImg{
	width: 60px;
}

.dialog a{
	color:rgb(0, 0, 0);
	font-size: 20px;
	margin-left: 15px;
	margin-top: 10px;
}

.dialog:first-child{
	margin-top: 0px;
}

.messages{
	margin-left: 10px;
	
}

.message{
	margin-top: 15px;
	background-color: rgba(240, 248, 255, 0.714);
	padding: 10px;
	border-radius: 15px;
	margin-right: 20px;
}

.message:first-child{
	margin-top: 0px;
}

.dialog a.active{
	color: #64c206;
   font-weight: 700;
}

.newMessageWrapper{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 10px;
	margin-right: 15px;
}

.dialogsTextarea{
	padding: 8px 12px;
	width: 100%;
	border-radius: 10px;
	height: 150px;
	align-self: end;
	resize: none;
}

.dialogsButton{
	margin-top: 10px;
	border-radius: 20px;
	width: 80px;
	padding: 5px 10px;
	align-self: flex-end;
	background: rgb(180, 208, 247);
    transition: all 0.4s;
}

.dialogsButton:hover{
	background: rgb(145, 174, 214);
}
